*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-image: linear-gradient(rgb(171, 171, 232),rgb(19, 19, 247));
    text-align: center;
    gap: 30px;
}
.cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.box{
    width: 100px;
    height: 100px;
    background-color: rgb(235, 229, 229);
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold; 
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    color: black;
}

.msg-cont{
    display: none;
    flex-direction: column;
}
.w{
    color: rgb(252, 68, 6);
    font-size: 200px;
}
.rtg,.new{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.note{
    color: red;
    font-size: 30px;
}